@{ 
    ViewData["Title"] = "Herr- och Damsittningen";
}
<section class="hero is-fullheight is-info">
    <div class="hero-body">
        <div class="container">
            <p class="title has-text-centered">Sidan är under konstruktion. Titta gärna in snart igen!</p>
        </div>
    </div>
</section>