@{ 
    ViewData["Title"] = "SUP-Sittningen";
}
<section class="hero is-fullheight is-info">
    <div class="hero-body">
        <div class="has-text-centered">
            <p class="title">Sidan är under konstruktion. Titta gärna in snart igen!</p>
        </div>
    </div>
</section>