@{ 
    ViewData["Title"] = "Arkiv";
}
<!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="arkiv-banner">
        <div class="container">
            <p class="has-text-centered" id="samarbetspartners-icon"><i class="fa fa-archive fa-4x" aria-hidden="true"></i></p>
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Arkiv
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->
<section class="section">
    <div class="columns">
        <div class="column is-3 is-offset-2">
            <nav class="panel">
                <p class="panel-heading">
                    <img src="~/images/favicon.ico"> Sesam
                </p>
                <p class="panel-heading has-text-centered">Sesam dokument</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Verksamhetsplan 16/17
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Stadga
                </a>
                <p class="panel-heading has-text-centered">Policydokument</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Introduktion
                </a>
                <p class="panel-heading has-text-centered">Sektionsmöte 2017-09-27</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
            </nav>
        </div>
        <div class="column is-3 is-offset-1">
            <nav class="panel">
                <p class="panel-heading">
                    <img src="~/images/os-logotyp.png" />
                </p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Åsiktsdokument
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Policy för samarbeten med externa aktörer
                </a>
            </nav>
        </div>
    </div>
</section>