@{ 
    ViewData["Title"] = "Campusmässan";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="campusmassan-banner">
        <div class="container">
            <p class="title has-text-centered">
                <img id="campusmassan-text" src="~/images/headers/CM_blue.png" alt="Campusmässan">
            </p>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- VAD ÄR CAMPUSMÄSSAN -->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8-mobile is-offset-2-mobile center mobile-only">
                
            </div>
            <div class="column is-5 is-offset-1">
                <br />
                <h3 class="title is-2">Vad är Campusmässan?</h3>
                <div class="content">
                    <p class="subtitle is-4">
                        Campusmässan är en av Sveriges största arbetsmarknadsmässor. Mässan växer och utvecklas ideligen. Förra årets mässa besökte ca 5000 studenter som då tog
                        tillfället i akt och träffade 125 företag. Vi i Campusmässans projektgrupp har som intention att göra allt i vår makt för att överträffa fjolårets succé.
                    </p>
                </div>
            </div>
            <div class="column is-one-third-desktop is-offset-1-desktop desktop-only">
                <img src="~/images/headers/campusmassan.jpg" class="img-rounded-corners" />
            </div>
        </div>
        <div class="column is-8 is-offset-2">
            <p class="subtitle">
                Som prov på detta har vi tagit steget längre och förflyttat hela mässan till Novahuset som kommer att hållas under hela två dagar, den 8-9 februari! Årets mässa är dessutom inget annat än den 18:onde upplagan och vi utlovar ett rågat schema med spännande evenemang och två huvudföreläsare.

                Under mässdagarna får företagen chansen att möta drivna studenter med spetskompetens samtidigt som studenterna får möta potentiella framtida arbetsgivare och inspireras till möjliga yrkesval.

            </p>
        </div>
        <div class="columns has-text-centered">
            <div class="column is-4 is-offset-2">
                <a class="button is-link is-outlined">
                    <span class="icon is-large">
                        <i class="fa fa-facebook"></i>
                    </span>
                    <span>Följ campusmässan på Facebook!</span>
                </a>
            </div>
            <div class="column is-4">
                <a class="button is-link is-outlined" id="button-instagram">
                    <span class="icon is-large">
                        <i class="fa fa-instagram"></i>
                    </span>
                    <span>Följ Campusmässan på instagram!</span>
                </a>
            </div>
        </div>
    </div>
</section>