@{ 
    ViewData["Title"] = "Campusmässan";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="campusmassan-banner">
        <div class="container">
            <div class="has-text-centered padding-top">
                <p class="title has-text-centered">
                    <img id="campusmassan-text" src="~/images/headers/CM_blue.png" alt="Campusmässan">
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- VAD ÄR CAMPUSMÄSSAN -->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8-mobile is-offset-2-mobile center mobile-only">
                
            </div>
            <div class="column is-5 is-offset-1">
                <br />
                <div class="content">
                    <p class="subtitle is-4">
                        Välkomna till Örebro Universitet, Novahuset och Campusmässan den 7 februari 2018! Vi är en av Sveriges största 
                        arbetsmarknadsmässor, där 135 företag och över 5000 studenter möttes förra året. 
                    </p>
                </div>
            </div>
            <div class="column is-one-third-desktop is-offset-1-desktop desktop-only">
                <img src="~/images/headers/campusmassan.jpg" class="img-rounded-corners" />
            </div>
        </div>
        <div class="column is-8 is-offset-2">
            <p class="subtitle">
                Årets mässa är den 19:onde i ordningen. Varje mässa är unik då vi kombinerar vår erfarenhet med nya fräscha idéer 
                från en årligen tillsatt projektgrupp. Vintern framför oss är redan fullspäckad med spännande överraskningar och evenemang, 
                med allt från tema-släpp och till tävlingar och gratis fika, och detta pågår ända fram till själva mässdagen i februari. 
                <br />
                <br />
                Under mässdagen får ni studenter chans att möta intressanta företag, lyssna på inspirerande föreläsningar och bredda er 
                kunskap om framtidens arbetsmarknad. Kanske träffar du din framtida arbetsgivare här? Söker du extrajobb, praktik, eller 
                kanske trainee-program är Campusmässan en perfekt mötesplats även för dig. 
                <br />
                <br />
                Gör som många andra och följ oss på våra sociala medier för uppdateringar och kommande evenemang:
            </p>
        </div>
        <div class="columns has-text-centered">
            <div class="column is-4 is-offset-2">
                <a class="button is-link is-outlined" href="https://www.facebook.com/campusmassan/" target="_blank" >
                    <span class="icon is-large">
                        <i class="fa fa-facebook"></i>
                    </span>
                    <span>Följ campusmässan på Facebook!</span>
                </a>
            </div>
            <div class="column is-4">
                <a class="button is-link is-outlined" id="button-instagram" href="https://www.instagram.com/campusmassan/" target="_blank">
                    <span class="icon is-large">
                        <i class="fa fa-instagram"></i>
                    </span>
                    <span>Följ Campusmässan på instagram!</span>
                </a>
            </div>
        </div>
    </div>
</section>