@{
    ViewData["Title"] = "Evenemang";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="hero-evenemang">
        <div class="container">
            <br>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end banner -->
<!-- Evenemang body -->
<section class="section notification">
    <div class="columns">
        <div class="column">
            <!-- SUP-Sittningen -->
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/SUPSittning.jpg">
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">SUP-Sittningen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Herr o Dam -->
        <div class="column">

            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/herrodam.jpg" />
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Herr & Dam</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Informatiksittningen -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/informatiksittning.jpg" />
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Informatiksittningen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Båtfesten -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/båtfesten.jpg">
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Båtfesten</p>
                    </div>
                </figure>
            </a>
        </div>
    </div>
    <!-- end row -->
    <div class="columns">
        <!-- After Work -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/after-work.jpg">
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">After Work</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Julbalen -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/julbalen.jpg"/>
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Julbalen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Vårbalen -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/Parties.jpg">
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Vårbalen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Nätverksdagen -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/networking.jpg"/>
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Nätverksdagen</p>
                    </div>
                </figure>
            </a>
        </div>

    </div>
    <!-- end row -->
    <div class="columns">
        <!-- Sesam masters -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/sesam-masters.jpg">
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Sesam masters</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Sesam IF -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/Parties.jpg"/>
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Sesam IF</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Kodstuga -->
        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/kodstuga.jpg"/>
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Kodstuga</p>
                    </div>
                </figure>
            </a>
        </div>

        <div class="column">
            <a href="#">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/antons-header.png"/>
                    <div class="centered">
                        <p class="title has-text-centered has-text-white evenemang-text">Game of Stocks</p>
                    </div>
                </figure>
            </a>
        </div>
    </div>
    <!-- end row -->
</section>
