@{
    ViewData["Title"] = "Evenemang";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="hero-evenemang">
        <div class="container">
            <div class="has-text-centered padding-top">
                <p class="title is-1 has-text-white"><i class="fa fa-bullhorn fa-4x"></i></p>
                <p class="title is-1 has-text-weight-normal has-text-white">Kolla in våra evenemang!</p>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end banner -->
<!-- Evenemang body -->
<section class="section notification">
    <div class="columns">
        <div class="column">
            <!-- SUP-Sittningen -->
            <a asp-controller="Evenemang" asp-action="SupSittningen">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/SUPSittning.jpg">
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">SUP-Sittningen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Herr o Dam -->
        <div class="column">

            <a asp-controller="Evenemang" asp-action="HerrOchDam">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/herrodam.jpg" />
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Herr- och damsittningen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Informatiksittningen -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="Informatiksittningen">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/informatiksittning.jpg" />
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Informatiksittningen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Båtfesten -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="Batfesten">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/båtfesten.jpg">
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Båtfesten</p>
                    </div>
                </figure>
            </a>
        </div>
    </div>
    <!-- end row -->
    <div class="columns">
        <!-- After Work -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="AfterWork">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/after-work.jpg">
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">After Work</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Julbalen -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="Julbalen">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/julbalen.jpg"/>
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Julbalen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Vårbalen -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="Varbalen">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/Parties.jpg">
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Vårbalen</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Nätverksdagen -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="Natverksdagen">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/networking.jpg"/>
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Nätverksdagen</p>
                    </div>
                </figure>
            </a>
        </div>

    </div>
    <!-- end row -->
    <div class="columns">
        <!-- Sesam masters -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="SesamMasters">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/sesam-masters.jpg">
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Sesam Masters</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Sesam IF -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="SesamsIF">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/Parties.jpg"/>
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Sesams IF</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Kodstuga -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="Kodstuga">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/kodstuga.jpg"/>
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Kodstuga</p>
                    </div>
                </figure>
            </a>
        </div>
        <!-- Game of Stocks -->
        <div class="column">
            <a asp-controller="Evenemang" asp-action="GameOfStocks">
                <figure class="image is-1-by-1">
                    <img class="brighten" src="~/images/evenemang/antons-header.png"/>
                    <div class="centered">
                        <p class="title is-4 has-no-wrap has-text-centered has-text-white evenemang-text">Game of Stocks</p>
                    </div>
                </figure>
            </a>
        </div>
    </div>
    <!-- end row -->
</section>
