@{ 
    ViewData["Title"] = "Fullmäktige och ledarmöter";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="fullmaktige-banner">
        <div class="container">
            <p class="has-text-centered" id="samarbetspartners-icon"><i class="fa fa-users fa-4x" aria-hidden="true"></i></p>
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Fullmäktige och ledamöter
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-1">
                <p class="title is-1 has-text-weight-normal">ÖREBRO STUDENTKÅRS FULLMÄKTIGE</p>
                <p class="subtitle">
                    Örebro studentkårs fullmäktige är organisationens högsta beslutande organ. Enkelt översatt är fullmäktige Örebro studentkårs
                    egen riksdag. Fullmäktiges roll är i dag att övergripande sätta riktningen för Örebro studentkår
                    som organisation och verksamhet och ansvara över de heltidsarvoderade som väljs av fullmäktige. Varje
                    ordinarie medlem i Örebro studentkår har rätt att skicka in punkter till fullmäktige. Fullmäktige
                    utgörs av 41 ledamöter från varje kårsektion, ledamöterna väljs av kårsektionens medlemmar för att
                    representera kårsektionen och föra dess talan.
                </p>
                <p>Handlingar inför fullmäktige hittar du genom att klicka på knappen nedan</p>
                <br>
                <a class="button is-info is-outlined"><span class="icon is-small"><i class="fa fa-external-link"></i></span><span>Handlingar inför fullmäktige</span></a>
                <br>
                <br>
                <p>Mer om fullmäktige på Örebro studentkårs hemsida.</p>
                <br>
                <a class="button is-success is-outlined"><span class="icon is-small"><i class="fa fa-external-link"></i></span><span>Örebro Studentår</span></a>
            </div>
            <div class="column is-3 is-offset-1">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/styrelse/LIsamtextJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="~/images/styrelse/LIsamtextJAA.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Frågor?</p>
                                <p class="subtitle is-6">Kontakta Vice ordförande Lisa Germudsson</p>
                            </div>
                        </div>

                        <div class="content">
                            Maila: <a>viceordforande@sesamit.se</a>.
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <p class="title is-1 has-text-weight-normal has-text-centered">SESAMS FULLMÄKTIGELEDAMÖTER</p>
        <br>
    </div>
    <div class="columns has-text-centered">
        <!-- 3 columns in each row -->
        <div class="column is-3 is-offset-1">
            <!-- Row 1 -->
            <img src="~/images/fullmaktige/Elviraklar.png" class="img-rounded-corners">
            <p class="title is-3 has-text-weight-normal">Elvira Gunnarsson</p>
        </div>
        <div class="column is-3">
            <!-- Row 2 -->
            <img src="~/images/fullmaktige/Idaklar.png" class="img-rounded-corners">
            <p class="title is-3 has-text-weight-normal">Ida Holme</p>
        </div>
        <div class="column is-3">
            <!-- Row 3 -->
            <img src="~/images/fullmaktige/Isabelleklar.png" class="img-rounded-corners">
            <p class="title is-3 has-text-weight-normal">Isabelle Eriksson</p>
        </div>
    </div>
    <div class="columns has-text-centered">
        <div class="column is-3 is-offset-1">
            <!-- Row 1 -->
            <img src="~/images/fullmaktige/LInneaklar.png" class="img-rounded-corners">
            <p class="title is-3 has-text-weight-normal">Linnea Nilsfors</p>
        </div>
        <div class="column is-3">
            <!-- Row 2 -->
            <img src="~/images/fullmaktige/Lisaklar.png" class="img-rounded-corners">
            <p class="title is-3 has-text-weight-normal">Lisa Anundi</p>
        </div>
        <div class="column is-3">
            <img src="~/images/fullmaktige/OFFUM.png" />
            <p class="title is-3 has-text-weight-normal">Oscar Haffling</p>
       </div><!-- Row 3 -->
    </div>
    <div class="columns has-text-centered">
        <div class="column is-3 is-offset-4">
            <img src="~/images/fullmaktige/MKFUM.png" />
            <p class="title is-3 has-text-weight-normal">Martin Konsa</p>
        </div>
    </div>
</section>