@{ 
    ViewData["Title"] = "Handlingar";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="handlingar-banner">
        <div class="container">
            <p class="has-text-centered" id="samarbetspartners-icon"><i class="fa fa-gavel fa-4x" aria-hidden="true"></i></p>
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Handlingar
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->

<section class="section">
    <div class="columns">
        <div class="column is-3 is-offset-2">
            <nav class="panel">
                <p class="panel-heading">
                    <img src="~/images/favicon.ico"> Sesam
                </p>
                <p class="panel-heading has-text-centered">Sektionsmöte 1</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Protokoll
                </a>
                <p class="panel-heading has-text-centered">Sektionsmöte 2</p>
                <a class="panel-block" href="" target="_blank">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilaga 1 - nuvarande stadga
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilaga 2 - ändrad stadga
                </a>
                <p class="panel-heading has-text-centered">Sektionsmöte 3</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilaga 1 - nuvarande stadga
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilaga 2 - ändrad stadga
                </a>
                <p class="panel-heading has-text-centered">Sektionsmöte 4</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <p class="panel-heading has-text-centered">Sektionsmöte 5</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <p class="panel-heading has-text-centered">Årsmöte</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilaga 1
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilaga 2
                </a>
            </nav>
        </div>
        <div class="column is-3 is-offset-1">
            <nav class="panel">
                <p class="panel-heading">
                    <img src="~/images/os-logotyp.png" />
                </p>
                <p class="panel-heading has-text-centered">Fullmäktigemöte 25 oktober</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilaga 1-4
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilaga 5
                </a>
                <p class="panel-heading has-text-centered">Fullmäktigemöte 5 december</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa-fa-book"></i>
                    </span>
                    Bilagor
                </a>
                <p class="panel-heading has-text-centered">Fullmäktigemöte 28 februari</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Dagordning
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa-fa-book"></i>
                    </span>
                    Bilagor
                </a>
                <p class="panel-heading has-text-centered">Fullmäktigemöte 18-19 april</p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Bilagor 18 april
                </a>
            </nav>
        </div>
    </div>
</section>