@{
    ViewData["Title"] = "Välkommen till Sesam";
}
    <!-- Load screen -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
    <!--Banner-->
<section class="hero is-info is-large">
    <div class="hero-body" id="hero-index">
        <div class="container">
            <p class="has-text-centered">
                <img class="index-icon" src="~/images/sesamLogo-big.png" height="48"
                     width="48">
            </p>
            <h1 class="title has-text-centered is-1 has-text-white" id="index-lofte">
                Välkommen till Sesam
            </h1>
            <h1 class="subtitle has-text-centered has-text-white">Vi erbjuder Dig verktygen för en bättre studietid</h1>
        </div>
    </div>
</section>
<!-- end banner -->
    <!--jobbmöjligheter -->
<div class="hero is-small" id="job-notification">
    <div class="notification" id="index-jobb">
            <button class="delete" id="hide-job-button" value="hide/show"></button>
            <div class="scroll-left">
                <p class="has-text-centered has-text-white">
                    <strong>SENASTE JOBBMÖJLIGHETEN: </strong>
                    <a asp-controller="Home" asp-action="Jobbmojligheter" class="has-text-white">
                        Summer Intern at H&M & TRAINEE AT H&M - HERE’S YOUR CHANCE FOR A CAREER OUT OF THE ORDINARY!
                    </a>
                </p>
          </div>
    </div>
</div>
<!-- end jobbmöjligheter -->
<!-- Pitch -->
<section class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <a class="button is-large is-danger img-rounded" asp-controller="Home" asp-action="Utskott">
                    <span class="icon is-large">
                        <i class="fa fa-heart"></i>
                    </span>
                </a>
                <p class="subtitle is-3 has-text-danger">ENGAGERA DIG!</p>
                <p>
                    Inom Sesam finns det många utskott där du kan engagera dig för att se till att vi alla får en så bra
                    studietid som möjligt. Oavsett om du vill hålla på med marknadsföring, studiesociala aktiviteter,
                    utbildning eller blanda drinkar och servera öl i vår alldeles egna pub, <strong><a asp-controller="Home" asp-action="Bryggan">Bryggan</a></strong>,
                    så lovar vi dig att det finns något för dig. Läs mer om möjligheterna och
                    våra <strong><a asp-controller="Home" asp-action="Utskott">utskott</a></strong> för att hitta något som passar dig!
                </p>
            </div>
            <div class="column">
                <a class="button is-large is-link img-rounded">
                    <span class="icon is-large">
                        <i class="fa fa-user"></i>
                    </span>
                </a>
                <p class="subtitle is-3 has-text-link">BLI MEDLEM!</p>
                <p>
                    Det finns många fördelar med att vara medlem i Sesam! Visste du att du kan hämta <strong>GRATIS</strong> kaffe varje dag i vår egen lounge i novahuset?
                    Förutom fantastiskt kaffe erbjuder vi massvis med roliga aktiviteter såsom sittningar, idrottsevent, vinprovningar med mera.
                    Dessutom får du förmånliga priser i vårat kära kårhus och massvis med andra roliga fördelar. 
                    Du kan antingen köpa medlemskap <a href="https://medlem.orebrostudentkar.se/snabbetalning/" target="_blank"><strong>online här</strong></a> 
                    eller kom förbi loungen under våra kontorstider mellan <strong>12.00 - 13.00</strong> så hjälper vi dig gärna!
                </p>
            </div>
            <div class="column">
                <a class="button is-success is-large img-rounded" asp-controller="Bryggan" asp-action="Bryggan">
                    <span class="icon is-large">
                        <i class="fa fa-beer"></i>
                    </span>
                </a>
                <p class="subtitle is-3 has-text-success">BRYGGAN</p>
                <p>
                    Visste du att för <strong>endast 500kr</strong> kan bryggan bli din för kvällen? Vare sig du ska dra ihop årets förfest med polarna eller fira en födelsedag
                    så lovar vi att bryggan kommer leverera god dryck och mat till ditt sällskap hela kvällen. Sugen på att boka? Hör då av dig till vår klubbmästare
                    <strong>Elin Hålldin</strong> via<br> klubbmasteriet@sesamit.se eller<br> 076-308 09 96.<br>
                    <strong><a asp-controller="Bryggan" asp-action="Bryggan">Läs mer om Bryggan här!</a></strong>
                </p>
            </div>
            <div class="column">
                <a class="button is-dark is-large img-rounded" asp-controller="Home" asp-action="Evenemang">
                    <span class="icon is-large">
                        <i class="fa fa-ticket has-text-white"></i>
                    </span>
                </a>
                <p class="subtitle is-3 has-text-dark">EVENEMANG</p>
                <p>
                    Sesam anordnar varje år en rad uppskattade <strong><a asp-controller="Home" asp-action="Evenemang">evenemang</a></strong>.
                    Vi anordnar allt från sittningar och sportevenemang till nätverksträffar med företag, case och föreläsningar.
                    Allt detta sker inte av sig självt, utan Sesam behvöver ständigt engagerade medlemmar som kan hjälpa till för att detta ska vara möjligt.
                    Vill du vara med bakom kulisserna och samtidigt utöka din erfarenhet med nya vänner? Tveka då inte att höra av dig till någon av våra utskottsansvariga eller
                    kom förbi loungen. ALLA är välkomna!

                </p>
            </div>

        </div>
    </div>
</section>
<!-- End pitch -->
<!-- section ordförande
<section class="hero is-info is-medium">
    <div class="hero-body" id="hero-ordforande">
        <div class="content">
            <div class="column is-6 is-offset-6">
                <h3 class="title is-1">
                    <i class="fa fa-heart" aria-hidden="true"></i> Hej, Anton här!</h3>
                <p>Jag är ordförande för studentsektionen Sesam och vill hälsa dig välkommen hit till vår hemsida.</p>
                <p>Här inne finner du all information om vad vi i sektionen gör, hur vi arbetar och vad Du kan göra som
                    medlem. Tveka inte att kontakta någon av oss i styrelsen om du vill veta mer om hur just du kan engagera
                    dig.</p>
                <p>Vi ses!</p>
            </div>
        </div>
    </div>
</section>
 end ordförande sektion -->
<!-- Trio -->
<section class="section notification">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <span class="icon has-text-info">
                    <i class="fa fa-road fa-4x" aria-hidden="true"></i>
                </span>
                <p class="subtitle">Introduktion</p>
                <p>
                    Din tid på universitetet börjar med en introduktion där du får möjlighet att få bästa möjliga start på
                    din studietid.
                </p>
                <br>
                <a class="button is-info is-outlined" asp-controller="Home" asp-action="Introduktion">Läs mer</a>
            </div>
            <div class="column">
                <span class="icon has-text-info">
                    <i class="fa fa-beer fa-4x" aria-hidden="true"></i>
                </span>
                <p class="subtitle">Bryggan</p>
                <p>Vi driver studentpuben Bryggan där alla studenter, ovasett sektion, är välkomna att ha en trevlig stund.</p>
                <br>
                <a class="button is-info is-outlined" asp-controller="Bryggan" asp-action="Bryggan">Läs mer</a>
            </div>
            <div class="column">
                <span class="icon has-text-info">
                    <i class="fa fa-sitemap fa-4x" aria-hidden="true"></i>
                </span>
                <p class="subtitle">Utskott</p>
                <p>Sesam består ut av en styrelse och 7 st utskott som är oerhört viktiga för att Sesam ska fungera.</p>
                <br>
                <a class="button is-info is-outlined" asp-controller="Home" asp-action="Utskott">Läs mer</a>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- slut trio-->

<hr class="navbar-divider">

<!-- samarbetspartners -->
<!-- 6 columns i varje rad -->
<section class="section">
    <h1 class="title has-text-centered">Samarbetspartners</h1>
    <div class="container">
        <div class="columns is-mobile">
            <!-- rad 1 -->
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/lrfkonsult.gif" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/unionen.jpg" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/Pwc.gif" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/civilekonomerna.gif" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/KPMG.gif" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/GrandThornton.gif" /></a>
            </div>
        </div>
        <!-- slut rad 1 -->
        <div class="columns is-mobile">
            <!-- rad 2 -->
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/KI_V3_RGB_sve_text.jpg" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/2000px-Ikea_logo.svg.png" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/strateg.png" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/academicwork.png" /></a>
            </div>
            <div class="column">
                <a href="" target="_blank"><img src="~/images/foretag/Centigo BW.png" /></a>
            </div>
            <div class="column"></div>
        </div>
        <!--slut rad 2 -->
    </div>
    <!-- end container -->
</section>
<!-- slut samarbetspartners -->
