@{
    ViewData["Title"] = "Introduktionen";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="introduktion-banner">
        <div class="container">
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Ska du studera ekonomi, statistik eller informatik?
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- välkommen till sesam -->
<section class="hero is-medium is-info is-bold">
    <div class="hero-body" id="intro-grattis">
        <div class="container">
            <h1 class="title has-text-centered is-1 has-text-white">
                Grattis!
            </h1><br>
            <h2 class="subtitle has-text-white">
                Du är därmed en Sesamit och tillhör institutionen Handelshögskolan på Örebro universitet. Din tid på universitetet
                börjar med en introduktion där du får möjlighet att få bästa möjliga start på din studietid.
                <br>
                <br> Introduktionen pågår i cirka fyra veckor och den är fullspäckad med aktiviteter. Veckorna innehåller
                allt från stadsvandring, beerpongturnering till sittningar med olika teman.
            </h2>
            <div class="has-text-centered">
                <a class="button is-primary is-inverted is-outlined" id="btn-intro-schedual">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>
                        Introduktionsschema
                    </span>
                </a>
                <br>
                <br>
                <p class="subtitle">
                    Följ även introduktionen i våra kanaler:
                </p>
                <a href="https://www.facebook.com/introK.Sesam" target="_blank"><i class="fa fa-facebook-square fa-3x"></i> Facebook</a>
                <a href="https://www.instagram.com/introduktionensesam/" target="_blank"><i class="fa fa-instagram fa-3x"></i> Instagram</a>
            </div>
        </div>
        <!-- end container -->
    </div>
    <!-- end hero body -->
</section>
<!--End welcome text -->
<!-- IntroK info -->
<section class="section" id="info-introk">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-12">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary shadow" id="introk-tile">
                            <p class="title has-text-centered is-1 has-text-weight-normal">IntroK</p>
                            <p class="subtitle has-text-white has-text-weight-light">
                                Projektgruppen som planerar introduktionen är introduktionskommittén (IntroK). De har, precis
                                som du, varit nya studenter och vet att det kan kännas både spännade och nervöst att
                                komma till ett nytt universitet/ny stad.
                                <br>
                                <br> Men du behöver inte oroa dig, de har planerat introduktionen så att du alltid ska
                                känna dig <strong class="has-text-white">delaktig</strong>, <strong class="has-text-white">trygg</strong>,
                                <strong class="has-text-white">respekterad</strong> och <strong class="has-text-white">glad</strong> under alla aktiviteter.
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child">
                            <img class="shadow" src="~/images/introduktion/introkvt18/IntroK VT18_spexbild_.jpg" />
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info shadow" id="intro-tile-footer">
                        <p class="title has-text-weight-normal has-text-centered">Frågor eller funderingar?</p>
                        <p class="subtitle has-text-white has-text-weight-light has-text-centered">
                            Tveka inte att höra av dig till vår General eller Svamp som utgör
                            projektledarna för hela introK och introduktionen.
                        </p>
                        <div class="content">
                            <div class="columns">
                                <div class="column">
                                    <p class="subtitle">Svamp - Calle Jonsson</p>
                                    Telefon: <a>070-549 53 57</a>
                                </div>
                                <div class="column">
                                    <p class="subtitle">General - Evelina Frick</p>
                                    Telefon: <a>073-072 51 35</a>
                                </div>
                                <div class="column">
                                    <p class="subtitle">Mail:</p>
                                    <a>introk@sesamit.se</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!--end introK info -->
<!-- IntroK bilder -->
<section class="section">
    <div class="container">
        <div class="column is-half is-offset-one-quarter has-text-centered">
            <img src="~/images/introduktion/introkvt18/General_Svamp_Evelina Frick _ Calle Jonsson.jpg" class="img-rounded" />
            <h3 class="title has-text-weight-light">Evelina & Calle</h3>
            <p>General & Svamp</p>
        </div>
        <div class="columns has-text-centered">
            <div class="column">
                <img class="img-rounded" src="~/images/introduktion/introkvt18/Aktivitetsansvariga_Sara Zanetti _ Johnathan Mattsson.jpg" />
                <p class="title has-text-weight-light">Sara & Jonathan</p>
                <p>Aktivitetsansvariga</p>
            </div>
            <div class="column">
                <img class="img-rounded" src="~/images/introduktion/introkvt18/Ekonomiansvariga_Sebastian Tyssling _ Erik Ljung.jpg" />
                <p class="title has-text-weight-light">Sebastian & Erik</p>
                <p>Ekonomiansvariga</p>
            </div>
            <div class="column">
                <img class="img-rounded" src="~/images/introduktion/introkvt18/Fadderansvariga_Michaela Smedeby _ Viktor Wejdelind.jpg" />
                <p class="title has-text-weight-light">Michaela & Viktor</p>
                <p>Fadderansvariga</p>
            </div>
            <div class="column">
                <img class="img-rounded" src="~/images/introduktion/introkvt18/Sponsoransvariga_Mathilda Larsson _ Carl Bernelöv.jpg" />
                <p class="title has-text-weight-light">Mathilda & Carl</p>
                <p>Sponsoransvariga</p>
            </div>
        </div>
    </div>
</section>

<!-- Varmt välkommen till sesam -->
<section class="hero notification" id="valkommen-till-sesam">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-white">
                Varmt välkommen till Sesam!
            </h1>
        </div>
    </div>
</section>
