@{ 
    ViewData["Title"] = "Jobbmöjligheter";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="jobbmojligheter-banner">
        <div class="container">
            <p class="has-text-centered" id="samarbetspartners-icon"><i class="fa fa-archive fa-4x" aria-hidden="true"></i></p>
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Spana in våra jobbmöjligheter!
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- LÄGG IN JOBB HÄR -->
<!-- Jobb mall kopiera för att lägga till nytt jobb -->
@*<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">Vill du arbeta inom Corporate Finance eller Management Consulting? </p>
            </div>
            <div class="message-body has-text-black">
                PwC Advisory söker juniora analytiker och managementkonsulter till Corporate Finance och Consulting, med start 2018.

                <br>
                <br>
                Läs mer och ansök genom att klicka på knappen nedan
                <br>
                <br>
                <a class="button is-link is-outlined">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
            </div>
        </article>
    </div>
</div>*@ 

<!-- Jobb -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">TRAINEE AT H&M - HERE’S YOUR CHANCE FOR A CAREER OUT OF THE ORDINARY! </p>
            </div>
            <div class="message-body has-text-black">
                H&M is offering fashion and quality at the best price in a sustainable way. Do you want to be a part of our journey, 
                expanding into new markets, open new stores, developing exciting new brands and creating the best customer offer? Are you 
                looking for an exciting career within a value-driven, global retail company?

                <br>
                <br>
                The programs are mainly for graduates, or young professionals with up to two years’ of work experience, who wants to kick-start their 
                career and grow with H&M. All three programs offer you a unique, broad introduction to H&M and deep knowledge about different areas and 
                departments within our company. You’ll be given plenty of responsibility from day one and the career possibilities 
                after the trainee programs are endless!
                Läs mer och ansök genom att klicka på knappen nedan
                <br>
                <br>
                <p class="subtitle">INTERNATIONAL TALENT PROGRAM</p>
                Do you want to be part of building H&M globally and join a trainee program where you will start an international career 
                from day one? Are you flexible to be based anywhere in the world for at least a few years? This trainee program is run by 
                our Expansion and Global sales functions and has been created to develop future leaders. The Expansion and Global sales 
                functions focus on finding new locations, create the best possible shopping experience, maximize the sales and run profitable stores.
                <br />
                <br />
                <p class="subtitle">BUSINESS TRAINEE</p>
                Are you interested in joining a trainee program where you will work as a Business controller and get to see the 
                entire value chain of our products from design to production, buying and sales? Do you want to develop in the area of business 
                controlling and analysis within our Head office functions where your decisions will affect H&M globally? The Business trainee
                program is created to develop future leaders with a great passion for business and creating the best customer offer.
                <br />
                <br />
                <p class="subtitle">IT TRAINEE</p>
                Do you want to be part of H&Ms global expansion while working within the intersection between business and IT? 
                The IT trainee program is a cross-functional program that focuses on business processes and ERP solutions; with a 
                mixture of training and project based tasks within sales, logistics, online, finance and change management. The bar is set 
                high for the program and aims to provide a package of deep level insights, hands-on training and knowledge transfer.
                <br />
                <br />
                <p class="subtitle">SOUNDS INTERESTING?</p>
                Learn more about our three trainee programs and apply to the program that you think suits you the best at career.hm.com. 
                Last day to apply, with start in Autumn 2018, is 3rd of January. 
                <br />
                <br />
                We look forward to your application!
                <br />
                <br />
                <a class="button is-link is-outlined" href="http://career.hm.com/content/hmcareer/en_se/student/education/hm-trainee-programs.html" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
                <div class="has-text-centered">
                    <img src="~/images/jobs-by-hm.gif" />
                </div>
            </div>
        </article>
    </div><!-- end container -->
</div> <!-- slut jobb -->

