@{ 
    ViewData["Title"] = "Jobbmöjligheter";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="jobbmojligheter-banner">
        <div class="container">
            <p class="has-text-centered" id="samarbetspartners-icon"><i class="fa fa-archive fa-4x" aria-hidden="true"></i></p>
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Spana in våra jobbmöjligheter!
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- LÄGG IN JOBB HÄR -->
<!-- Jobb -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">
                    Do you have a passion for doing business and want to know what it is like to work at H&M?
                </p>
            </div>
            <div class="message-body has-text-black">
                <strong>
                    Do you have a passion for doing business and want to know what it is like to work at H&M? Do
                    you want to participate in our journey expanding into new markets, developing exciting new
                    brands and creating the best customer offer? Then you should apply for our Summer internship!
                </strong>
                <br />
                <br />
                <p class="subtitle">THE INTERNSHIP</p>
                As a Summer Intern at H&M you will get the opportunity to share your ideas and take initiatives in
                order to affect our business on a global level. You will work in diversified teams where your major task
                will be business driven analysis to maximize sales and profitability. During the summer you will work
                as Business Controller within one of our global functions; Buying Office, Sales & Operations, Online
                Sales or New Business at our Head Office in Stockholm, Sweden.
                The internship is designed to give you an understanding for our core business and to start building a
                network within our organization. You will get a mentor that will introduce you to H&M and your role as
                Business Controller, you will attend several seminars held by our leaders and work as a Sales Advisor
                in our stores. During the internship you will also work with a concrete case that will make a difference
                for your team and the business, which you will present in the end of the program.
                Throughout the internship you will get the possibility to work with your development and we see the
                internship as a mutual job interview. You will get to know H&M from the inside and we will get the
                opportunity to evaluate you for future positions as Business Controller within the function you will
                belong to. We are looking for driven talents who are eager to make a difference and want to grow with
                us, and many of our former Summer Interns are today leaders within our fast-expanding global
                organization, both in Sweden and around the world.
                <br />
                <br />
                <p class="subtitle">YOUR PROFILE</p>
                • Business or Engineering students with one year left to graduation after the internship.
                <br />
                • Strong analytical skills and the ability to turn your analysis into actions that will affect the business.
                <br />
                • Driven and result oriented, with a genuine interest in retail.
                <br />
                • An entrepreneurial mind-set, taking own initiatives, as we are a flat organization with a straight
                forward, open-minded culture and short decision paths.
                <br />
                • Team players with leadership skills wanting to grow as leaders within H&M.
                <br />
                • Experience in sales, store or e-commerce is meritorious.
                <br />
                • International experience from either work or studies. Your English is fluent and other languages are
                meritorious. Swedish is not mandatory.
                <br />
                To be eligible you need to have work permit in Sweden or EU.
                <br>
                <br>
                <p class="subtitle">APPLY</p>
                Are you up for the challenge? Apply no later than 27th of November 2017 via the link below. Please
                send your application in English including CV, cover letter, high school and university grades
                (including description of grading system).
                <br>
                <br>
                <a class="button is-link is-outlined" href="https://career.hm.com/content/hmcareer/sv_se/findjob/jobs/imported/2017/10/3/00212262.html" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Apply here!</span>
                </a>
                <br />
                <br />
                H&M will review all complete applications and will get back to you as soon as possible in December, after
                the last application day. Selected candidates will be given analytical web-tests as a first step between 8th-
                11th of December. If we believe you have what it takes, you will be invited to assessment days at our Head
                Office in Stockholm the 17-19th of January 2018. You have to be able to participate during these dates to
                apply for the program.
                If you have any questions with regards to the application, please see our FAQ. If you can’t find your
                answer there, email us at; summerinternship@hm.com
                <br />
                <br />
                The Summer Internship will run from 7th of June until 20st of July 2018.
                We look forward to your application!
                Read more about the Summer Internship Program and meet former Summer Interns:
                <br />
                <a class="button is-link is-outlined" href="https://career.hm.com/content/hmcareer/en_se/student/education1/summer-internship.html" 
                   target="_blank">Read more</a>
                <br />
                <br />
                <p class="has-text-weight-light">H&M is a world leading fashion retailer, with more than 161.000 employees and 4400 stores, in
                    over 68 markets and 43 online markets. H&M Group also includes COS, Weekday, Monki, Cheap
                    Monday,& Other Stories, H&M Home and Arket. Our business idea is fashion and quality at the
                    best price in a sustainable way.
                </p>
                <div class="has-text-centered">
                    <img src="~/images/jobs-by-hm.gif" />
                </div> 
            </div>
        </article>
    </div><!-- end container -->
</div> <!-- slut jobb -->
<!-- Jobb -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">TRAINEE AT H&M - HERE’S YOUR CHANCE FOR A CAREER OUT OF THE ORDINARY! </p>
            </div>
            <div class="message-body has-text-black">
                H&M is offering fashion and quality at the best price in a sustainable way. Do you want to be a part of our journey, 
                expanding into new markets, open new stores, developing exciting new brands and creating the best customer offer? Are you 
                looking for an exciting career within a value-driven, global retail company?

                <br>
                <br>
                The programs are mainly for graduates, or young professionals with up to two years’ of work experience, who wants to kick-start their 
                career and grow with H&M. All three programs offer you a unique, broad introduction to H&M and deep knowledge about different areas and 
                departments within our company. You’ll be given plenty of responsibility from day one and the career possibilities 
                after the trainee programs are endless!
                Läs mer och ansök genom att klicka på knappen nedan
                <br>
                <br>
                <p class="subtitle">INTERNATIONAL TALENT PROGRAM</p>
                Do you want to be part of building H&M globally and join a trainee program where you will start an international career 
                from day one? Are you flexible to be based anywhere in the world for at least a few years? This trainee program is run by 
                our Expansion and Global sales functions and has been created to develop future leaders. The Expansion and Global sales 
                functions focus on finding new locations, create the best possible shopping experience, maximize the sales and run profitable stores.
                <br />
                <br />
                <p class="subtitle">BUSINESS TRAINEE</p>
                Are you interested in joining a trainee program where you will work as a Business controller and get to see the 
                entire value chain of our products from design to production, buying and sales? Do you want to develop in the area of business 
                controlling and analysis within our Head office functions where your decisions will affect H&M globally? The Business trainee
                program is created to develop future leaders with a great passion for business and creating the best customer offer.
                <br />
                <br />
                <p class="subtitle">IT TRAINEE</p>
                Do you want to be part of H&Ms global expansion while working within the intersection between business and IT? 
                The IT trainee program is a cross-functional program that focuses on business processes and ERP solutions; with a 
                mixture of training and project based tasks within sales, logistics, online, finance and change management. The bar is set 
                high for the program and aims to provide a package of deep level insights, hands-on training and knowledge transfer.
                <br />
                <br />
                <p class="subtitle">SOUNDS INTERESTING?</p>
                Learn more about our three trainee programs and apply to the program that you think suits you the best at career.hm.com. 
                Last day to apply, with start in Autumn 2018, is 3rd of January. 
                <br />
                <br />
                We look forward to your application!
                <br />
                <br />
                <a class="button is-link is-outlined" href="http://career.hm.com/content/hmcareer/en_se/student/education/hm-trainee-programs.html" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
                <div class="has-text-centered">
                    <img src="~/images/jobs-by-hm.gif" />
                </div>
            </div>
        </article>
    </div><!-- end container -->
</div> <!-- slut jobb -->
<!-- Jobb -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">Vill du arbeta inom Corporate Finance eller Management Consulting? </p>
            </div>
            <div class="message-body has-text-black">
                PwC Advisory söker juniora analytiker och managementkonsulter till Corporate Finance och Consulting, med start 2018.

                <br>
                <br>
                Läs mer och ansök genom att klicka på knappen nedan
                <br>
                <br>
                <a class="button is-link is-outlined">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
            </div>
        </article>
    </div><!-- end container -->
</div> <!-- slut jobb -->
<!-- JOBB -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">Lindesberg - Associate till Ekonomiservice & Revision med start våren 2018</p>
            </div>
            <div class="message-body has-text-black">
                <p>
                    Vårt kontor i Lindesberg växer återigen och vi söker nu vår nästa kollega. Detta är tjänsten för dig som är intresserad av
                    att arbeta med både redovisning och revision!
                </p>
                <br>
                <p class="title has-text-weight-light">Att arbeta med redovisning/revision på Grant Thornton</p>

                <p class="has-text-weight-light">
                    Som associate arbetar du i team med ansvar för kunder och uppdrag. I denna kombinerade tjänst kommer du att få arbeta med redovisning
                    (inom vårt affärsområde Ekonomiservice) samt med revision. Detta innebär att du kommer att arbeta med hanteringen av företagens ekonomifunktion
                    så som löpande redovisning och avstämningar samt vara delaktig i revisionsuppdrag. Våra kunder står inför framtidens utmaningar och du kommer agera
                    som ett bollplank och en viktig rådgivare på deras tillväxtresa.
                </p>
                <br>
                <p class="title has-text-weight-light">Vem är du?</p>
                <p>
                    - Du har en akademisk examen inom ekonomi med inriktning mot redovisning och revision
                    <br>
                    - Du har vid tillträde av tjänsten de kurser som krävs för att kunna bli auktoriserad redovisningskonsult alternativt auktoriserad revisor
                    <br>
                    - Det är meriterande om du har erfarenhet från ekonomiarbete eller service
                    <br>
                    För att trivas och bli framgångsrik hos oss ser vi att du lever upp till Grant Thorntons framgångsfaktorer. I stora drag betyder det att vi söker
                    dig som investerar tid i dina relationer, tar initiativ och antar utmaningar samt har en positiv inställning och visar engagemang i det du gör.
                    Vi lägger därför stor vikt vid dina personliga egenskaper i denna rekryteringsprocess.
                </p>
                <p class="subtitle">Väx och utvecklas med oss!</p>
                <p>
                    Grant Thornton är Sveriges enda stora revisions- och konsultföretag med fullt fokus på ägarledda bolag. Det innebär unika möjligheter för dig som vill utvecklas
                    i din karriär. Inget sätter sådan fart på din utveckling som riktigt intressanta arbetsuppgifter.
                    Vi tror på frihet under ansvar och uppmuntrar dig att utmana oss och tänka nytt. Hos oss får du i en platt och förändringsbenägen kultur
                    forma din egen karriärutveckling. Genom fokusering på entreprenörsföretag skapas ständigt nya karriärvägar, när branscher utvecklas och
                    nya typer av företag växer fram. Våra kunder är av skiftande storlek och inom många olika branscher - detta gör ditt arbete omväxlande, socialt och roligt
                </p>
                <br>
                <p class="subtitle">Vill du arbeta på vårt kontor i Lindesberg?</p>
                <p>Registrera din ansökan med CV och personligt brev, inklusive betyg, så snart som möjligt, dock <strong>senast 15 oktober</strong>.</p>
                <br>
                <p class="subtitle">För frågor om tjänsten: </p>
                <p>
                    Christin Rach, Ansvarig rekryterare
                    <br>
                    christin.rach@se.gt.com
                </p>
                <br>
                <a class="button is-link is-outlined">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Varmt välkommen med din ansökan!</span>
                </a>
            </div>
        </article>
    </div>
</div>
