@{ 
    ViewData["Title"] = "Jobbmöjligheter";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="jobbmojligheter-banner">
        <div class="container">
            <p class="has-text-centered" id="samarbetspartners-icon"><i class="fa fa-archive fa-4x" aria-hidden="true"></i></p>
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Spana in våra jobbmöjligheter!
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- LÄGG IN JOBB HÄR -->
<!-- Jobb -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">Vill du arbeta inom Corporate Finance eller Management Consulting? </p>
            </div>
            <div class="message-body has-text-black">
                PwC Advisory söker juniora analytiker och managementkonsulter till Corporate Finance och Consulting, med start 2018.

                <br>
                <br>
                Läs mer och ansök genom att klicka på knappen nedan
                <br>
                <br>
                <a class="button is-link is-outlined">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
            </div>
        </article>
    </div><!-- end container -->
</div> <!-- slut jobb -->
<!-- JOBB -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">Lindesberg - Associate till Ekonomiservice & Revision med start våren 2018</p>
            </div>
            <div class="message-body has-text-black">
                <p>
                    Vårt kontor i Lindesberg växer återigen och vi söker nu vår nästa kollega. Detta är tjänsten för dig som är intresserad av
                    att arbeta med både redovisning och revision!
                </p>
                <br>
                <p class="title has-text-weight-light">Att arbeta med redovisning/revision på Grant Thornton</p>

                <p class="has-text-weight-light">
                    Som associate arbetar du i team med ansvar för kunder och uppdrag. I denna kombinerade tjänst kommer du att få arbeta med redovisning
                    (inom vårt affärsområde Ekonomiservice) samt med revision. Detta innebär att du kommer att arbeta med hanteringen av företagens ekonomifunktion
                    så som löpande redovisning och avstämningar samt vara delaktig i revisionsuppdrag. Våra kunder står inför framtidens utmaningar och du kommer agera
                    som ett bollplank och en viktig rådgivare på deras tillväxtresa.
                </p>
                <br>
                <p class="title has-text-weight-light">Vem är du?</p>
                <p>
                    - Du har en akademisk examen inom ekonomi med inriktning mot redovisning och revision
                    <br>
                    - Du har vid tillträde av tjänsten de kurser som krävs för att kunna bli auktoriserad redovisningskonsult alternativt auktoriserad revisor
                    <br>
                    - Det är meriterande om du har erfarenhet från ekonomiarbete eller service
                    <br>
                    För att trivas och bli framgångsrik hos oss ser vi att du lever upp till Grant Thorntons framgångsfaktorer. I stora drag betyder det att vi söker
                    dig som investerar tid i dina relationer, tar initiativ och antar utmaningar samt har en positiv inställning och visar engagemang i det du gör.
                    Vi lägger därför stor vikt vid dina personliga egenskaper i denna rekryteringsprocess.
                </p>
                <p class="subtitle">Väx och utvecklas med oss!</p>
                <p>
                    Grant Thornton är Sveriges enda stora revisions- och konsultföretag med fullt fokus på ägarledda bolag. Det innebär unika möjligheter för dig som vill utvecklas
                    i din karriär. Inget sätter sådan fart på din utveckling som riktigt intressanta arbetsuppgifter.
                    Vi tror på frihet under ansvar och uppmuntrar dig att utmana oss och tänka nytt. Hos oss får du i en platt och förändringsbenägen kultur
                    forma din egen karriärutveckling. Genom fokusering på entreprenörsföretag skapas ständigt nya karriärvägar, när branscher utvecklas och
                    nya typer av företag växer fram. Våra kunder är av skiftande storlek och inom många olika branscher - detta gör ditt arbete omväxlande, socialt och roligt
                </p>
                <br>
                <p class="subtitle">Vill du arbeta på vårt kontor i Lindesberg?</p>
                <p>Registrera din ansökan med CV och personligt brev, inklusive betyg, så snart som möjligt, dock <strong>senast 15 oktober</strong>.</p>
                <br>
                <p class="subtitle">För frågor om tjänsten: </p>
                <p>
                    Christin Rach, Ansvarig rekryterare
                    <br>
                    christin.rach@se.gt.com
                </p>
                <br>
                <a class="button is-link is-outlined">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Varmt välkommen med din ansökan!</span>
                </a>
            </div>
        </article>
    </div>
</div>
