@{ 
    ViewData["Title"] = "Jobbmöjligheter";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="jobbmojligheter-banner">
        <div class="container">
            <p class="has-text-centered" id="samarbetspartners-icon"><i class="fa fa-archive fa-4x" aria-hidden="true"></i></p>
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Spana in våra jobbmöjligheter!
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- LÄGG IN JOBB HÄR -->
<!-- Jobb mall kopiera för att lägga till nytt jobb -->
@*<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">Vill du arbeta inom Corporate Finance eller Management Consulting? </p>
            </div>
            <div class="message-body has-text-black">
                PwC Advisory söker juniora analytiker och managementkonsulter till Corporate Finance och Consulting, med start 2018.

                <br>
                <br>
                Läs mer och ansök genom att klicka på knappen nedan
                <br>
                <br>
                <a class="button is-link is-outlined">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
            </div>
        </article>
    </div>
</div>*@ 
<!-- JOBB -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">ÖREBRO -  Associate till Ekonomiservice med start våren 2018 & hösten 2018</p>
            </div>
            <div class="message-body has-text-black">
                <p class="subtitle">
                    Är du vår nästa affärsdrivna redovisningskonsult?
                </p>
                Nu har du som tar examen i januari eller i juni möjlighet att söka dig till vårt Örebrokontor!
                <br />
                <br />
                <p class="subtitle">Väx och utvecklas med Sveriges Bästa Arbetsgivare 2017!</p>
                Vi är stolta över att Grant Thornton är Sveriges bästa arbetsgivare 2017. Detta enligt Universums undersökning, där medarbetare själva rankar sin arbetsgivare.
                I Örebro har vi vuxit under den senaste tiden och vi är i ett expansivt skede. Idag är vi drygt 60 medarbetare i nya attraktiva lokaler 
                centralt belägna i stadskärnan. Vårt kontor är en mötesplats för det lokala näringslivet. Här anordnar vi seminarier och utbildningar 
                riktade till vd, styrelse och ägare. På vår mötesplats träffas entreprenörer också för att affärsnätverka och utbyta erfarenheter 
                med andra företagare.
                <br />
                <br />
                <p class="subtitle">Att arbeta med redovisning på Grant Thornton </p>
                Som konsult inom redovisning arbetar du med entreprenörsföretag i olika branscher och faser. Tack vare effektiva digitala 
                systemlösningar kan vi fokusera på att arbeta framåtriktat med våra kunder och hjälpa dem på deras tillväxtresa. Vi fungerar 
                som bollplank och som lyhörda och innovativa rådgivare. Hos oss får du i en platt och förändringsbenägen kultur forma din egen 
                karriärutveckling. Genom fokusering på entreprenörsföretag skapas ständigt nya karriärvägar, när branscher utvecklas och nya 
                typer av företag växer fram - detta gör ditt arbete omväxlande, socialt och roligt!
                <br />
                <br />
                <p class="subtitle">Vem är du?</p>
                Vi söker dig som brinner för att utvecklas inom redovisningsfrågor och rådgivning. Du vill arbeta med entreprenörsföretag och 
                finner det lika utvecklande som utmanande.
                <br />
                <br />
                <strong>
                    -   Du har en akademisk examen inom ekonomi med inriktning mot redovisning eller revision
                    <br />
                    -   Vi ser gärna att du vid tillträde av tjänsten har de kurser som FAR kräver för att kunna bli auktoriserad redovisningskonsult
                    <br />
                    -   Du är nyutexaminerad eller i början av din yrkeskarriär och det är meriterande om du har erfarenhet från ekonomi- eller servicearbete.
                </strong>
                <br />
                För att trivas och bli framgångsrik hos oss ser vi att du lever upp till Grant Thorntons framgångsfaktorer. I stora drag betyder 
                det att vi söker dig som investerar tid i dina relationer, tar initiativ och antar utmaningar samt har en positiv inställning 
                och visar engagemang i det du gör. Vi lägger därför stor vikt vid dina personliga egenskaper.
                <br />
                <br />
                <p class="subtitle">Är du intresserad av att arbeta på vårt kontor i Örebro?</p>
                Skicka in din ansökan med CV, personligt brev samt betyg så snart som möjligt, dock senast <strong>januari.</strong> 
                För tjänsten till januari 2018 arbetar vi löpande med urval och intervjuer men för tjänsten till hösten 2018 går vi 
                igenom ansökningarna efter annonsen gått ut. Det finns en möjlighet att börja som timanställd redan i början av 2018 om 
                du söker tjänsten med start till hösten.
                <br />
                <br />
                <p class="subtitle">För frågor om tjänsten kontakta </p>
                Eva Gyllenstrand, Redovisningsledare<br />
                Tfn <a href="tel:019 670 84 06">019 670 84 06</a><br />
                Christin Rach, Ansvarig rekryterare<br />
                Tfn <a href="tel:08 563 071 46">08 563 071 46</a>

                <br>
                <br>
                Varmt välkommen med din ansökan!
                <br>
                <br>
                <a class="button is-link is-outlined" href="http://students.grantthornton.se/lediga-tjanster/tjanster/associate-till-ekonomiservice-med-start-varen-2018--hosten-2018-orebro/" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
            </div>
        </article>
    </div>
</div>
<!-- end jobb-->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">LINDESBERG - Associate till Ekonomiservice & Revision med start januari 2018 </p>
            </div>
            <div class="message-body has-text-black">
                Vårt kontor i Lindesberg växer återigen och vi söker nu vår nästa kollega. Detta är tjänsten för dig som är intresserad av att arbeta 
                med både redovisning och revision innan du bestämmer dig för vad du vill inrikta dig på!
                <br />
                Vi är stolta över att Grant Thornton är Sveriges bästa arbetsgivare 2017. Detta enligt Universums undersökning, där medarbetare själva 
                rankar sin arbetsgivare.
                <br />
                <br />
                <p class="subtitle">
                    Att arbeta med redovisning/revision på Grant Thornton 
                </p>
                Som associate arbetar du i team med ansvar för kunder och uppdrag. Våra kunder står inför framtidens utmaningar och du kommer 
                agera som ett bollplank och en viktig rådgivare på deras tillväxtresa. I denna kombinerade tjänst kommer du att få arbeta med 
                redovisning (inom vårt affärsområde Ekonomiservice) samt med revision. Detta innebär att du kommer att arbeta med hanteringen av 
                företagens ekonomifunktion så som löpande redovisning och avstämningar samt vara delaktig i revisionsuppdrag. Tanken är att du sedan
                efter ett till två år kan bestämma dig för om det är redovisning eller revision som du vill inrikta dig mot.
                <br />
                <br />
                <p class="subtitle">Vem är du?</p>
                -   Du har en akademisk examen inom ekonomi med inriktning mot redovisning och revision
                <br />
                -   Vi ser gärna att du vid tillträde av tjänsten har de kurser som krävs för att kunna bli auktoriserad redovisningskonsult 
                alternativt auktoriserad revisor
                <br />
                -   Det är meriterande om du har erfarenhet från ekonomi- eller servicearbete
                <br />
                <br />
                För att trivas och bli framgångsrik hos oss ser vi att du lever upp till Grant Thorntons framgångsfaktorer. 
                I stora drag betyder det att vi söker dig som investerar tid i dina relationer, tar initiativ och antar utmaningar samt 
                har en positiv inställning och visar engagemang i det du gör. Vi lägger därför stor vikt vid dina personliga egenskaper.
                <br />
                <br />
                <p class="subtitle">Väx och utvecklas med oss!</p>
                Grant Thornton är Sveriges enda stora revisions- och konsultföretag med fullt fokus på ägarledda bolag. Det innebär unika möjligheter för dig som vill utvecklas i din karriär. Inget sätter sådan fart på din utveckling som riktigt intressanta arbetsuppgifter.
                <br />
                Vi tror på frihet under ansvar och uppmuntrar dig att utmana oss och tänka nytt. Hos oss får du i en platt och förändringsbenägen kultur forma din egen karriärutveckling. Genom fokusering på entreprenörsföretag skapas ständigt nya karriärvägar, när branscher utvecklas och nya typer av företag växer fram. Våra kunder är av skiftande storlek och inom många olika branscher - detta gör ditt arbete omväxlande, socialt och roligt!
                <br />
                <br />
                <p class="subtitle">Vill du arbeta på vårt kontor i Lindesberg?</p>
                Registrera din ansökan med CV, personligt brev och betyg så snart som möjligt. Vi hanterar ansökningarna löpande men du har 
                möjlighet att skicka in din ansökan fram till <strong>7 januari.</strong>
                <br />
                <br />
                <p class="subtitle">För frågor om tjänsten</p>
                Christin Rach, Ansvarig rekryterare <br />
                <a>christin.rach@se.gt.com</a>
                <br>
                <br>
                Varmt välkommen med din ansökan!
                <br>
                <br>
                <a class="button is-link is-outlined" href="http://students.grantthornton.se/lediga-tjanster/tjanster/associate-till-ekonomiservice--revision-med-start-januari-2018-lindesberg2/" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
            </div>
        </article>
    </div>
</div>

<!-- Jobb -->
<div class="container">
    <div class="column is-10 is-offset-1">
        <article class="message is-info">
            <div class="message-header jobb-header">
                <p class="title is-4 has-text-white has-text-weight-light">TRAINEE AT H&M - HERE’S YOUR CHANCE FOR A CAREER OUT OF THE ORDINARY! </p>
            </div>
            <div class="message-body has-text-black">
                H&M is offering fashion and quality at the best price in a sustainable way. Do you want to be a part of our journey, 
                expanding into new markets, open new stores, developing exciting new brands and creating the best customer offer? Are you 
                looking for an exciting career within a value-driven, global retail company?

                <br>
                <br>
                The programs are mainly for graduates, or young professionals with up to two years’ of work experience, who wants to kick-start their 
                career and grow with H&M. All three programs offer you a unique, broad introduction to H&M and deep knowledge about different areas and 
                departments within our company. You’ll be given plenty of responsibility from day one and the career possibilities 
                after the trainee programs are endless!
                Läs mer och ansök genom att klicka på knappen nedan
                <br>
                <br>
                <p class="subtitle">INTERNATIONAL TALENT PROGRAM</p>
                Do you want to be part of building H&M globally and join a trainee program where you will start an international career 
                from day one? Are you flexible to be based anywhere in the world for at least a few years? This trainee program is run by 
                our Expansion and Global sales functions and has been created to develop future leaders. The Expansion and Global sales 
                functions focus on finding new locations, create the best possible shopping experience, maximize the sales and run profitable stores.
                <br />
                <br />
                <p class="subtitle">BUSINESS TRAINEE</p>
                Are you interested in joining a trainee program where you will work as a Business controller and get to see the 
                entire value chain of our products from design to production, buying and sales? Do you want to develop in the area of business 
                controlling and analysis within our Head office functions where your decisions will affect H&M globally? The Business trainee
                program is created to develop future leaders with a great passion for business and creating the best customer offer.
                <br />
                <br />
                <p class="subtitle">IT TRAINEE</p>
                Do you want to be part of H&Ms global expansion while working within the intersection between business and IT? 
                The IT trainee program is a cross-functional program that focuses on business processes and ERP solutions; with a 
                mixture of training and project based tasks within sales, logistics, online, finance and change management. The bar is set 
                high for the program and aims to provide a package of deep level insights, hands-on training and knowledge transfer.
                <br />
                <br />
                <p class="subtitle">SOUNDS INTERESTING?</p>
                Learn more about our three trainee programs and apply to the program that you think suits you the best at career.hm.com. 
                Last day to apply, with start in Autumn 2018, is 3rd of January. 
                <br />
                <br />
                We look forward to your application!
                <br />
                <br />
                <a class="button is-link is-outlined" href="http://career.hm.com/content/hmcareer/en_se/student/education/hm-trainee-programs.html" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Ansök här!</span>
                </a>
                <div class="has-text-centered">
                    <img src="~/images/jobs-by-hm.gif" />
                </div>
            </div>
        </article>
    </div><!-- end container -->
</div> <!-- slut jobb -->

