@{ 
    ViewData["Title"] = "Kontakta oss";
}
   <!--Banner-->
<!--section ordförande -->
<section class="hero is-info is-medium">
    <div class="hero-body" id="hero-ordforande">
        <div class="content">
            <div class="column is-6 is-offset-6">
                <h3 class="title is-1">
                    <i class="fa fa-heart" aria-hidden="true"></i> Hej, Anton här!</h3>
                <p>Jag är ordförande för studentsektionen Sesam och vill hälsa dig välkommen hit till vår hemsida.</p>
                <p>Här inne finner du all information om vad vi i sektionen gör, hur vi arbetar och vad Du kan göra som
                    medlem. Tveka inte att kontakta någon av oss i styrelsen om du vill veta mer om hur just du kan engagera
                    dig.</p>
                <p>Vi ses!</p>
            </div>
        </div>
    </div>
</section>
 
<!-- end banner end ordförande sektion -->
<!-- INFO CARDS -->
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <article class="message is-link">
                    <div class="message-header">
                        <p>Email</p>
                    </div>
                    <div class="message-body has-text-black">
                        info@sesamit.se
                        <br>
                        <a asp-controller="Home" asp-action="Styrelsen">Kontakta någon i styrelsen?</a>
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="message is-link">
                    <div class="message-header">
                        <p>Kontoret</p>
                    </div>
                    <div class="message-body has-text-black">
                        Vi har kontorstid alla vardagar från 12-13. Hälsa gärna på! Vi finns på plats i Novahuset våning 2!
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="message is-link">
                    <div class="message-header">
                        <p>Akut</p>
                    </div>
                    <div class="message-body has-text-black">
                        Ring vår ordförande Anton Björk på
                        <br>
                        <a href="#">070 - 918 78 91</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <article class="message is-link">
                <div class="message-header">
                    <p>Adress</p>
                </div>
                <div class="message-body">
                    <p class="has-text-weight-bold">Studentsektionen-Sesam</p>
                    <p>Fakultetsgatan 1</p>
                    <p>701-81 Örebro</p>
                    <div id="map"></div>
                </div>
            </article>
        </div>
    </div>
</div>