@{ 
    ViewData["Title"] = "Mentorskapsprojektet";
}
    <!--Banner-->
<section class="hero is-info is-large">
    <div class="hero-body" id="mentorskapsprojektet-banner">
        <p class="title has-text-centered is-1 has-text-weight-normal">Vad är mentorskapsprojektet?</p>
        <p class="has-text-centered"><i class="fa fa-exchange fa-4x" aria-hidden="true"></i></p>
        <div class="column is-8 is-offset-2">
            <p class="subtitle has-text-white">
                Juseks mentorskapsprojekt i samarbete med Sesam vänder sig till dig som är studerande eller yrkesverksam inom ekonomi, systemvetenskap
                eller statistik. Med projektet ger vi dig chansen att samla nya erfarenheter samt utöka ditt kontaktnätverk!
            </p>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- HERO INFO -->
<section class="hero is-light is-bold is-small">
    <div class="hero-body">
        <div class="container">
            <div class="column is-8 is-offset-2">
                <p class="subtitle">
                    Under vårterminen öppnar anmälan för adepter och mentorer som sedan kommer att matchas ihop utifrån respektives önskemål.
                    Mentorskapsprojektet inleds med en kick-off i början av höstterminen, därefter träffas adept och
                    mentor efter överenskommelse under ett år. Vid träffarna ges chansen att utbyta tankar, erfarenheter
                    och bolla idéer med varandra. Förutom kick-offen anordnas även en halvårsträff som samtliga mentorer
                    och adepter bjuds in till.
                </p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3 is-offset-3">
                <br>
                <p class="subtitle is-3 has-text-weight-normal">För dig som mentor:</p>
                <p>
                    Förutom den fantastiska möjligheten att hjälpa en student i början av sin karriär, förses du med nya infallsvinklar, kunskap
                    och kompetens som kan vara givande på din arbetsplats. Med ert engagemang som mentor hjälper och
                    inspirerar du framtidens medarbetare.
                </p>
            </div>
            <div class="column is-3">
                <br>
                <p class="subtitle is-3 has-text-weight-normal">För dig som adept:</p>
                <p>
                    De flesta studenter får genom sin utbildning goda teoretiska kunskaper, som adept får du också en unik inblick i hur det
                    praktiska arbetet går till inom din bransch. Under tidigare år har mentorskapet även visat sig vara
                    betydelsefullt vid uppsatsskrivande, något som gynnat både student som mentor.
                </p>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end hero info -->

<section class="section">
    <div class="container has-text-centered">
        <p class="title has-text-weight-light">Handbok för mentorer och adepter: </p>
        <br>
        <a class="button is-info is-outlined" href="https://www.jusek.se/globalassets/images/affischer/handbok_for_mentorer_adepter.pdf" target="_blank">
            <span class="icon is-small"><i class="fa fa-external-link"></i></span>
            <span>Klicka här för att se handboken</span>
        </a>
        <br>
        <br>
        <p>
            För kontakt, maila: <a>mentorskap@sesamit.se</a>
        </p>
    </div>
</section>
