@{ 
    ViewData["Title"] = "Samarbetspartners";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="samarbetspartners-banner">
        <div class="container">
            <p class="has-text-centered" id="samarbetspartners-icon">
                <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
            </p>
            <h1 class="title has-text-centered is-size-2 has-text-white" id="samarbetspartners-title">
                Samarbetspartners
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- Intro-text -->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-2 has-text-weight-normal">Vi i Sesam är väldigt glada och stolta över de samarbeten vi har med olika företag!</h1>
            </div>
            <div class="column">
                <p class="subtitle">
                    Vi anser att det är av yttersta vikt att studenter tidigt får en bra kontakt med näringslivet och får
                    insikt i vilka framtida arbetsgivare som finns. Därför arbetar Sesam ständigt med att främja och
                    utveckla relationen mellan studenter och näringslivets olika aktörer. Vi är dessutom en ideell organisation
                    som är beroende av finansiering från företag som vill samarbeta med oss.
                </p>
            </div>
        </div>
    </div>
    <!-- end container-->
</section>
<!-- end intro-text -->
<!-- Cards info -->
<section class="section" id="samarbeten-tiles">
    <div class="container">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-building fa-4x" id="fa-blue" aria-hidden="true"></i>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">FÖRETAG</p>
                            </div>
                        </div>
                        <div class="content">
                            Sesam är ständigt på jakt efter
                            <strong>nya partners</strong> för att skapa unika och intressanta kontakter för både studenter och företag.
                            Vi kan hjälpa till med allt från rekrytering till att bygga ett starkt varumärke bland våra studenter.
                            <br>
                            <br> Kanske behöver ditt företag hjälp med att rekrytera studenter med färska kunskaper inom ekonomi,
                            statistik eller informatik? Eller vill ni helt enkelt synas bland studenter i olika sammanhang?
                            <br>
                            <br> Kontakta:
                            <a>naringsliv@sesamit.se</a>
                        </div>
                    </div>
                    <!-- end card content -->
                </div>
                <!-- end card -->
            </div>
            <!--end column -->
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-user fa-4x" id="fa-blue" aria-hidden="true"></i>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">STUDENT</p>
                            </div>
                        </div>
                        <div class="content">
                            Är du student och vill komma i kontakt med någon av våra Samarbetspartners?
                            <br>
                            <br>
                            <br>
                            <br> Kontakta: naringsliv@sesamit.se
                        </div>
                    </div>
                    <!-- end card content -->
                </div>
                <!-- end card -->
            </div>
            <!-- end column -->
        </div>
    </div>
    <!--end container -->
</section>

<!-- Samarbeten -->
<section class="section">
    <div class="container">
        <h2 class="title is-1 has-text-centered has-text-weight-light">Just nu samarbetar vi med</h2>
        <div class="columns is-mobile">
            <!-- rad 1 -->
            <div class="column">
                <a href=""><img src="~/Images/foretag/lrfkonsult.gif" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/unionen.jpg" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/Pwc.gif" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/civilekonomerna.gif" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/KPMG.gif" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/GrandThornton.gif" /></a>
            </div>
        </div>
        <!-- slut rad 1 -->
        <div class="columns is-mobile">
            <!-- rad 2 -->
            <div class="column">
                <a href=""><img src="~/images/foretag/KI_V3_RGB_sve_text.jpg" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/2000px-Ikea_logo.svg.png" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/strateg.png" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/academicwork.png" /></a>
            </div>
            <div class="column">
                <a href=""><img src="~/images/foretag/Centigo BW.png" /></a>
            </div>
            <div class="column"></div>
        </div>
        <!--slut rad 2 -->
    </div>
    <!-- end container -->
</section>
