@{ 
    ViewData["Title"] = "Värdegrund";
}
    <!--Banner-->
<section class="hero is-info is-large is-bold">
    <div class="hero-body" id="vardegrund-banner">
        <div class="container has-text-centered">
            <p class="title is-1"><i class="fa fa-heart-o" aria-hidden="true"></i></p>
            <h1 class="title is-1 has-text-white">
                Vårt löfte
            </h1>
            <br>
            <p class="subtitle is-3 has-text-white">
                Vi erbjuder Dig verktygen för en bättre studietid
            </p>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end banner -->
<!--VÅR VISION -->
<section class="hero is-danger is-small is-bold">
    <div class="hero-body" id="vår-vision-hero">
        <div class="container">
            <div class="column is-8 is-offset-2">
                <p class="title is-2 has-text-centered has-text-weight-normal">Vår vision</p>
                <br>
                <p class="subtitle has-text-white">
                    Sesams vision är att på ett inkluderande sätt utveckla individer, skapa värde och sätta färg på studenternas
                    vardag under och efter studietiden. Med mod, inkludering och glädje ska Sesam bli en av Sveriges
                    främsta studentföreningar
                </p>
                <hr>
            </div>
            <br>
            <br>
            <p class="title is-2 has-text-centered has-text-weight-light">Sesams värdeord</p>
            <br>
            <div class="columns has-text-centered">
                <div class="column">
                    <i class="fa fa-hand-grab-o fa-5x"></i>
                    <p class="title">Mod</p>
                    <p>
                        Ordet mod symboliserar vad vi vill att alla våra medlemmar ska känna, därför uppmuntrar vi till initiativ,
                        nytänkande och personlig utveckling. Att våga ser vi som nyckeln till att utmana och förbättra
                        vår förening både för våra medlemmar och våra samarbetspartners.
                    </p>
                </div>
                <div class="column">
                    <i class="fa fa-users fa-5x"></i>
                    <p class="title">Inkludering</p>
                    <p>
                        Evenemang och aktiviteter som anordnas såväl som samarbeten som byggs upp ska präglas av inkludering
                        och vi strävar efter att erbjuda något för alla.
                    </p>
                </div>
                <div class="column">
                    <i class="fa fa-smile-o fa-5x"></i>
                    <p class="title">Glädje</p>
                    <p>
                        Glädjen ska genomsyra hela föreningen och vi vill erbjuda det som gör studietiden lite roligare.
                        Våra medlemmar ska känna glädjen i alla situationer, oavsett vilken termin eller vilket program
                        man studerar.
                    </p>
                </div>
            </div>
        </div>
        <!-- end container -->
    </div>
</section>
<!-- end vår vision -->
<!--SESAM TUMME UPP SEKTION -->
<section class="section">
    <div class="container">
        <div class="tile is-parent">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child has-text-centered">
                        <img src="~/images/vardeord-tumme.png" height="255" width="255" />
                    </article>
                    <article class="tile is-child has-text-centered" id="vardegrund-thumb-text">
                        <p class="subtitle">
                            I planeringen av alla aktiviteter, vid val av samarbeten och i alla vardagssituationer ligger dessa ord till grund för de beslut som tas.
                            I vår förening är det viktigt att de som väljer att vara medlem känner sig välkomna och vi tar avstånd mot alla typer av diskriminering
                            och uteslutning.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
