@{ 
    ViewData["Title"] = "Styrelsen";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="hero-styrelsen">
        <div class="container" id="styrelsen-header-text">
            <h1 class="title has-text-centered is-1 has-text-white">
                Vilka är med i styrelsen?
            </h1>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- STYRELSEN -->
<section class="section">
    <div class="container">
        <div class="columns">
            <!--Rad 1 -->
            <div class="column">
                <div class="card">
                    <!-- Ordförande -->
                    <div class="card-image">
                        <p class="has-text-centered"><img src="~/images/styrelse/ANTONmtextJAA.jpg" alt="Placeholder image"></p>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Anton Björk</p>
                                <p class="subtitle is-6">Ordförande</p>
                            </div>
                        </div>

                        <div class="content">
                            Ordförande är ansvarig för att leda sektionens styrelse. Tillsammans med vice ordförande arbetar ordförande för att
                            utveckla Sesam och främja Örebro studentkår. Ordförande är Sesams spindel i nätet och stöttar Sesams olika projekt och utskott.
                            Vidare är även ordförande firmatecknare i organisationen
                            <a href="#">ordforande@sesamit.se</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!--Vice Ordförande -->
                    <div class="card-image">
                        <p class="has-text-centered"><img src="~/images/styrelse/LIsamtextJAA.jpg" alt="Placeholder image"></p>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Lisa Germundsson</p>
                                <p class="subtitle is-6">Vice Ordförande</p>
                            </div>
                        </div>

                        <div class="content">
                            Vice ordförande är ansvarig för informationsutbytet mellan Sesam och våra externa kontakter
                            i form av övriga sektioner, andra universitet samt S.E.R.O. Dessutom sitter vice ordförande som
                            ledamot i Örebro studentkårs styrelse och har därmed ansvaret att förmedla studentkårens vision, åsikter och verksamhetsplan till Sesam.
                            <a href="#">viceordforande@sesamit.se</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Ekonomiansvarig -->
                    <div class="card-image">
                        <img src="~/images/styrelse/CARLLmtextJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Carl Lundahl</p>
                                <p class="subtitle is-6">Ekonomiansvarig</p>
                            </div>
                        </div>

                        <div class="content">
                            Ekonomiansvarig i Sesam skapar Sesams budget och sköter löpande bokföring under verksamhetsåret.
                            Rollen innebär också att hålla styrelsen uppdaterad om hur ekonomin ser ut, se till att budgeten följs
                            under året, samt fakturerar och betalar fakturor. Ekonomiansvarig är den andra behöriga firmatecknaren i organisationen.
                            <a href="#">ekonomi@sesamit.se</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Informationsansvarig -->
                    <div class="card-image">
                        <img src="~/images/styrelse/AmandamTEXTJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Amanda Engberg</p>
                                <p class="subtitle is-6">Informationsansvarig</p>
                            </div>
                        </div>

                        <div class="content">
                            Som informationsansvarig har man en överblick över den information som når Sesam och ansvarar för att
                            förfrågningar och annat når rätt person i rätt tid. Dessutom är man som informationsansvarig även den som för
                            protokoll över både sektions- och styrelsemöten.
                            <a href="#">info@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- slut rad 1 -->
        <div class="columns">
            <!--Rad 2 -->
            <div class="column">
                <div class="card">
                    <!-- Informatikutskottet -->
                    <div class="card-image">
                        <img src="~/images/styrelse/OlamTEXTJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Ola Vognlid</p>
                                <p class="subtitle is-6">Informatik</p>
                            </div>
                        </div>

                        <div class="content">
                            Den här posten leder informatikutskottet med målet att i systemvetarnas intresse arbeta med näringslivs- och
                            studiesociala frågor inom Sesam. Detta gör man genom att försöka minska klyftan mellan studier och arbetsliv
                            men även igenom att skapa chanser att träffas och lära känna andra systemvetare.
                            <a href="#">informatikutskottet@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Finansutskottet -->
                    <div class="card-image">
                        <img src="~/images/styrelse/CAlleGmTEXTJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Carl Görtz</p>
                                <p class="subtitle is-6">Finans</p>
                            </div>
                        </div>

                        <div class="content">
                            Finansutskottet är ett studiesocialt utskott vars syfte är att öka intresset för de finansiella marknaderna hos studenterna
                            inom Sesam. Det gör man genom att anordna aktiviteter med anknytning till finans. Som ordförande för Finansutskottet innebär
                            det att man har det övergripande ansvaret för att alla aktiviteter planeras och genomförs inom utskottet.
                            <a href="#">finansutskottet@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Introduktionsansvarig -->
                    <div class="card-image">
                        <img src="~/images/styrelse/ViktoriamTEXTJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Viktoria Sand</p>
                                <p class="subtitle is-6">Introduktionsansvarig</p>
                            </div>
                        </div>

                        <div class="content">
                            Sesams introduktionsansvarige är den naturliga länken mellan introduktionen, Sesam och Sesams styrelse.
                            Posten fungerar också som stöd och rådgivning till projektgruppen för Sesams introduktion (IntroK) och förmedlar
                            den introduktionspolicy och styrdokument som Sesam står för. Introduktionsansvarige är också med och rekryterar
                            Sesams nya generaler och IntroK samt är ansvarig för introduktionens avslutningssittning (Gasquen).
                            <a href="#">introduktion@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Utbildningsutskottet -->
                    <div class="card-image">
                        <img src="~/images/styrelse/OscarmTEXTJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Oscar Nilsson</p>
                                <p class="subtitle is-6">Utbildningsutskottet</p>
                            </div>
                        </div>

                        <div class="content">
                            Som utbildningsbevakare har man utbildningsutskottet vid sin sida och tillsammans ansvarar utskottet för
                            utbildningsrelaterade frågor. Man arbetar för att studenter ska ha inflytande över sin utbildning samt för att
                            förbättra de utbildningar som tillhör handelshögskolan. Utskottet har en nära kontakt med lärare och ämnesansvariga.
                            <a href="#">utbildning@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- slut rad 2 -->
        <div class="columns">
            <!--Rad 3 -->
            <div class="column">
                <div class="card">
                    <!-- Marknadsföringsansvarig -->
                    <div class="card-image">
                        <img src="~/images/styrelse/JuliamtextJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Julia Robertsson</p>
                                <p class="subtitle is-6">Marknadsföringsansvarig</p>
                            </div>
                        </div>

                        <div class="content">
                            Hos marknadsföringsansvarig ligger uppgiften att få Sesam att synas. Tillsammans med marknadsföringsutskottet
                            arbetar man aktivt både med de andra utskottens och sektionens kommunikation internt men även externt.
                            Detta görs genom en enhetlig profilering via sociala medier, planscher, foto och film mm, samt tillverkningen av
                            Sesams tidning som ges ut två gånger om året i samband med terminsstart.
                            <a href="#">marknad@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Näringslivsansvarig -->
                    <div class="card-image">
                        <img src="~/images/styrelse/FredrikmtextJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Fredrik Rasmussen</p>
                                <p class="subtitle is-6">Näringslivsansvarig</p>
                            </div>
                        </div>

                        <div class="content">
                            Sesam har flera samarbeten med olika företag, och ordförande för näringslivsutskottet har det övergripande ansvaret
                            för att dessa samarbeten fungerar och hur vi utformar våra avtal. I utskottet har sedan varje person ansvar för ett av dessa
                            företag, och sköter den löpande kontakten.
                            <a href="#">naringsliv@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Näringslivsansvarig -->
                    <div class="card-image">
                        <img src="~/images/styrelse/AlicemTEXT.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Alice Flodin</p>
                                <p class="subtitle is-6">Näringslivsansvarig</p>
                            </div>
                        </div>

                        <div class="content">
                            Sesam har flera samarbeten med olika företag, och ordförande för näringslivsutskottet har det övergripande ansvaret
                            för att dessa samarbeten fungerar och hur vi utformar våra avtal. I utskottet har sedan varje person ansvar för ett av dessa
                            företag, och sköter den löpande kontakten.
                            <a href="#">naringsliv@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Klubbmästare -->
                    <div class="card-image">
                        <img src="~/images/styrelse/ELINm.textJAA-13.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Elin Hålldin</p>
                                <p class="subtitle is-6">Klubbmästare</p>
                            </div>
                        </div>

                        <div class="content">
                            Sesam är den enda sektionen som har en egen pub – Sesams Bryggeriet, aka Bryggan – och Klubbmästaren ansvarar och driver den.
                            Det innebär allt från att jobba i köket och servera till att sköta inköp och anställa personal. Till sin hjälp har klubbmästaren
                            ett stort utskott av engagerade studenter, samt Sesams vice ekonomiansvarige.
                            <a href="#">klubbmasteriet@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- slut rad 3 -->
        <div class="columns">
            <!--Rad 4 -->
            <div class="column">
                <div class="card">
                    <!-- Studiesocialt ansvarig -->
                    <div class="card-image">
                        <img src="~/images/styrelse/ChristoffermTextJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Christoffer Olenäs</p>
                                <p class="subtitle is-6">Studiesocialt ansvarig</p>
                            </div>
                        </div>

                        <div class="content">
                            Studiesociala aktiviteter är de som sker efter man har slagit igen kurslitteraturen för dagen, och som ansvarig har man det
                            studiesociala utskottet vid sin sida. Tillsammans har utskottet det övergripande ansvaret för att anordna roliga fester, sittningar och sportevenemang.
                            <a href="#">studiesocial@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- Ekonomiansvarig Bryggan -->
                    <div class="card-image">
                        <img src="~/images/styrelse/KLarlaura.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Laura Seredyte</p>
                                <p class="subtitle is-6">Ekonomiansvarig Bryggan</p>
                            </div>
                        </div>

                        <div class="content">
                            Som vice ekonomiansvarig arbetar man tillsammans med Sesams ekonomiansvarig, där ansvaret är fokuserat vid Sesams egna pub,
                            Bryggan. Det innebär att man sköter den löpande bokföringen, betalar fakturor och uträttar bankärenden. Posten fungerar även
                            som en högra hand till Sesams ekonomiansvarig.
                            <a href="#">brygganekonomi@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <!-- IT-Ansvarig -->
                    <div class="card-image">
                        <img src="~/images/styrelse/OLivermTEXTJAA.jpg" alt="Placeholder image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Oliver Sundbäck</p>
                                <p class="subtitle is-6">IT-Ansvarig</p>
                            </div>
                        </div>

                        <div class="content">
                            IT-direktör eller strategisk IT-chef (engelska: Chief Information Officer – CIO) är en person på direktörsnivå
                            som svarar för ett företags interna informationssystem (så kallade datasystem). Ofta har en IT-direktör även ansvar
                            för företagets kommunikationssystem (såsom tele- och datakommunikationssystem). Vid jämförelse med en CTO – som svarar för teknisk utveckling –
                            är en IT-direktör ansvarig för själva driften och användandet av datasystemen. I en del företag kan dessa två roller emellertid slås samman.
                            <br>
                            <a href="#">it@sesamit.se</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div><!-- slut rad 4 -->
    </div>
</section>