@{ 
    ViewData["Title"] = "Vad är Sesam?";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="hero-vad-ar-sesam">
        <div class="container" id="vad-ar-sesam-header">
            <h1 class="title has-text-centered is-1 has-text-white" id="header-vad-ar-sesam">
                Lite om oss
            </h1>
            <br>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end banner -->
<!-- Vad är sesam? -->
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child">
                            <p class="title has-text-centered">Vad är Sesam?</p>
                            <p>
                                Vi är kårsektionen för dig som läser <strong>ekonomi</strong>, <strong>informatik</strong> och <strong>statistik</strong>.
                                Vi grundades 1993 och har sedan dess funnits med syfte att bevaka utbildningen, engagera medlemmar socialt och ge dem en
                                naturligare väg in i näringslivet efter studierna. Återkommande aktiviteter är bland annat Mentorskapsprojektet,
                                Campusmässan, Båtfesten och Introduktionen. Vi är stolta över vår introduktion som är en av Sveriges längsta och
                                bästa i slaget, där du som ny student snabbt har möjlighet att komma in i studentlivet!
                            </p>
                        </article>
                        <br>
                        <br>
                        <article class="tile is-child is-bold">
                            <div class="columns">
                                <div class="column has-text-centered">
                                    <p><i class="fa fa-4x fa-users" aria-hidden="true"></i></p>
                                    <p>Över 650 medlemmar!</p>
                                </div>
                                <div class="column has-text-centered">
                                    <p><i class="fa fa-4x fa-star-o" aria-hidden="true"></i></p>
                                    <p>En sjukt bra introduktion!</p>
                                </div>
                                <div class="column has-text-centered">
                                    <p><i class="fa fa-4x fa-exchange" aria-hidden="true"></i></p>
                                    <p>Samarbeten med företag!</p>
                                </div>
                                <div class="column has-text-centered">
                                    <p><i class="fa fa-4x fa-smile-o" aria-hidden="true"></i></p>
                                    <p>Vår egen lounge i Nova!</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child">
                    <div class="content">
                        <figure class="image is-square">
                            <img src="~/images/sesamLogo-big.png" />
                        </figure>
                    </div>
                </article>
            </div>
        </div>
    </div> <!-- end container -->
</section>  <!-- end vad är sesam -->
<!-- ORGANISATIONSÖVERSIKT -->
<section class="hero is-medium notification">
    <div class="hero-body">
        <div class="container">
            <h2 class="title has-text-centered is-mobile">
                Organisationsöversikt
            </h2>
            <div class="column is-10 is-offset-1 is-mobile">
                <img src="~/images/vad-ar-sesam-trad.png" />
            </div>
        </div><!-- end container -->
    </div>
</section><!-- end section -->
<!--Handels, styrelse, utskott -->
<section class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <img src="~/images/Logo_txt_runt_svv_ENG.svg" />
                <p class="title">Handelshögskolan</p>
                <p>
                    Sesam representerar studenter på institutionen Handelshögskolan. Om du läser ekonomi, informatik eller statistik hör 
                    du till Handelshögskolan, och därmed sektionen Sesam.
                </p>
                <a class="button is-link is-outlined" href="https://www.oru.se/institutioner/handelshogskolan/om-oss/" target="_blank">Läs mer</a>
            </div>
            <div class="column">
                <img src="~/images/workers.png" />
                <br>
                <br>
                <br>
                <p class="title">Styrelse</p>
                <p>
                    Sesam består av en styrelsen som utför arbeten som kommer att vara till nytta för dig som student. 
                    Allt från företagskontakter till lärofyllda upplevelser!
                </p>
                <br>
                <a class="button is-link is-outlined" asp-controller="Home" asp-action="Styrelsen">Läs mer</a>
            </div>
            <div class="column">
                <img src="~/images/businessman278.png" />
                <br>
                <br>
                <br>
                <p class="title">Utskott</p>
                <p>För att Sesam ska kunna utföra sitt arbete behöver de hjälp av sina Utskott. Utskotten gör allt för att Sesams 
                    medlemmar ska få det bättre under studietiden.</p>
                <br>
                <a class="button is-link is-outlined" asp-controller="Home" asp-action="Utskott">Läs mer</a>
            </div>
        </div>
    </div><!-- end container -->
</section><!-- end section -->
<!-- HERO ÖS -->
<section class="hero is-medium is-success is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="title is-1">Örebro studentkår</p>
                    <p class="subtitle is-3">För en bättre studietid</p>
                    <p>
                        Man brukar dela in kårens arbete i två delar: det utbildningspolitiska, som handlar om att öka kvaliteten på utbildningen, och det studiesociala,
                        som rör allt annat runtom studierna, till exempel boende, ekonomi, nöjen och fritid. Vi arbetar därför ännu hårdare för att det ska löna sig för
                        dig som student att vara medlem, bland annat får du rabatt på alla event som vi anordnar.. Vi vill hela tiden förbättra utbildningen som ges på
                        Handelshögskolan, se till att din fritid fylls med roliga aktiviteter och även se till att du redan under studierna får kontakt med företag i din bransch..
                        Det är vi i sektionerna som är den operativa delen av studentkåren – vi bedriver hela tiden utbildningsbevakning, vi anordnar föreläsningar och event
                        med företag som vill träffa just dig, och vi har fester och sittningar med det där lilla extra när du lagt ifrån dig böckerna för dagen.
                    </p>
                </div>
                <div class="column">
                    <img src="~/images/Kåren_1.png" />
                </div>
            </div>
        </div><!-- end container-->
    </div><!-- end hero body -->
</section><!-- end hero ÖS -->
<!-- HERO LOUNGEN -->
<section class="hero is-small has-text-white sesam-background is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <img class="img-rounded" src="~/images/lounge.png" width="455" />
                </div>
                <div class="column">
                    <p class="title is-1 has-text-white">Sesam Lounge</p>
                    <p class="subtitle is-3 has-text-white">Vårt eget vardagsrum</p>
                    <p>
                        Vi är den enda sektionen som har ett eget vardagsrum - Sesams Lounge! Den hittar du tillsammans med vårt kontor.
                        Här kan du som medlem komma in med ditt universitetskort. Sesam Lounge är det perfekta stället att sitta med sina vänner
                        och ta det lugnt. Och när det är kontorstid, bjuder Sesam såklart på kaffe. Det är också en plats för mingel med företag när vi ordnar olika event,
                        och här finns mycket information och material från våra sponsorer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- end hero loungen -->
<!-- HERO SEKTIONSMÖTEN -->
<section class="hero is-small notification" id="hero-sektionsmoten">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="title is-1">Sektionsmöten</p>
                    <p class="subtitle is-3">Sesams högst beslutande organ</p>
                    <p>
                        Syftet med sektionsmötena är att du som medlem ska få insyn i vad Sesam arbetar med, vara med och påverka i övergripande beslut och säga vad du
                        tycker och tänker. Sesam är en medlemsorganisation och styrelsens arbete utförs hela tiden med medlemmarnas intresse och nytta i fokus. Mindre
                        beslut fattas av styrelsen som är invalda av medlemmarna medan större beslut tas på sektionsmöten. Där har du som är medlem i Sesam rösträtt och
                        chans att vara med och påverka.

                        På sektionsmöten diskuteras också propositioner och motioner som senare skall lyftas på Örebro studentkårs fullmäktigemöte och som anses
                        relevanta för Sesam. Har du en fråga eller funderingar kring dessa? Ta kontakt med våra fullmäktigeledamöter eller Sesams vice ordförande.

                        Sektionsmötena hålls minst 2 ggr/termin och annonseras ut senast två veckor i förväg.

                    </p>
                    <br>
                    <a class="button is-info is-outlined" asp-controller="Home" asp-action="FullmaktigeOchLedarmoter">Läs mer om fullmäktige här</a>
                </div>
                <div class="column">
                    <img class="img-rounded" src="~/images/sektionsmoteForminskad.jpg" />
                </div>
            </div>
        </div>
    </div>
</section><!--end hero sektionsmöten -->
<!-- HERO SERO -->
<section class="hero is-small is-primary" id="hero-sero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="~/images/SERO.png" />
                </div>
                <div class="column">
                    <p class="title is-1">S.E.R.O</p>
                    <p class="subtitle is-3">Sveriges Ekonomföreningars Riksorganisation</p>
                    <p>
                        Större delen av Handelshögskolans studenter är ekonomer, och Sesam är medlem i S.E.R.O – Sveriges Ekonomföreningars Riksorganisation.
                        Det är en paraplyorganisation för ekonomföreningar, med mål att öka ekonomistudenters konkurrenskraft på arbetsmarknaden. Medlemskapet
                        i S.E.R.O möjliggör många intressanta samarbeten, nya kontakter och erfarenhetsutbyten, samt utbildningar och konferenser som även är av
                        intresse för andra ämnen på Handelshögskolan, vilket är viktigt då vi inte enbart representerar ekonomer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>